<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>新建待办事项</title>
</head>
<body>

<h1>新建待办事项</h1>
<form action="/todo/form" method="POST" th:object="${todoEntity}">
    <input type="hidden" th:field="*{qid}"/>
    <label>待办事项：</label>
    <input type="text" th:field="*{name}"/>
    <br/>
    <label>备&emsp;&emsp;注：</label>
    <input type="text" th:field="*{remark}"/>
    <br/>
    <input type="submit" value="提交"/>
</form>

</body>
</html>